 .example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-select {
  overflow: visible;
} 

.mat-checkbox-background{
  background-color: #03B6C8 !important;

}
div.mat-checkbox-background{
  background-color: #03B6C8 !important;

}
