<div class="example-container mat-elevation-z8 ">
  <mat-table #table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
      <mat-header-cell *matHeaderCellDef>

        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
        <span>Name</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">

        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
        <img class="tableImg" src="{{row.image}}" alt=""> {{row.name}}
      </mat-cell>
    </ng-container>



    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- Groups Column -->
    <ng-container matColumnDef="groups">
      <mat-header-cell *matHeaderCellDef> Groups </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.groups}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>
</div>
